@import 'var';

.header {
  background-color: $headerBgc;
  height: 96px;

  .header_box {
    height: 54px;

  }

  .header_top {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    .header_left {
      display: flex;
      align-items: center;
      margin-left: 16px;

      .logo {
        height: 30px;
        padding: 3px;
        background-color: #fff;
        margin: 5px;
        border-radius: 5px;
      }
    }

    .header_right {
      cursor: pointer;
      font-size: .7rem;
      color: $fontColor;
      margin-right: 14px;
      border: solid 1px $borderColor;
      padding: 4px 20px;
      border-radius: 50px;
    }

    .context1 {
      h2 {
        font-size: 1em;
        font-weight: 400;
      }

      p {
        font-size: 0.12rem;
        font-weight: 100;
      }
    }
  }

  .header_tab {
    height: 42px;
    background-color: $headerBgc;
    font-weight: 300;

    ul {
      width: 100%;
      display: flex;

      li {
        line-height: 42px;
        text-align: center;
        width: 100%;
      }
    }
  }

  .active {
    color: $activeColor;
    position: relative;
    animation: fontColor .2s ease-in-out forwards;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -.7em;
      width: 1.4rem;
      border-radius: .3em;
      height: .21em;
      background-color: $activeColor;
      animation: move .25s ease-in-out forwards;
    }
  }

}