@import 'var';

.search {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;

  .search_form {
    position: relative;
  }

  img {
    height: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -9px;
    margin-left: -24px;
    pointer-events: none
  }

  input {
    outline: none;
    width: 100%;
    border: none;
    height: 30px;
    padding: 5px 0 4px 24px;
    border-radius: 15px;
  }

  .search_form_input:focus::-webkit-input-placeholder {
    text-align: start;
    cursor: pointer;
  }

  .search_form_input:focus+img {
    margin-left: 4px;
    left: 0;
  }

  .search_form_input:focus+img+.search_form_button {
    display: block;
  }

  input::-webkit-input-placeholder {
    text-align: center;
    font-weight: 200;
    color: $fontColor;
  }

  .search_form_group {
    display: flex;
    justify-content: center;
    align-items: center;

    .search_form_button {
      min-width: 2em;
      margin-left: 16px;
    }
  }
}

.search-view-hot {
  margin: 30px 20px 10px 20px;

  p {
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      background-color: #fff;
      border-radius: 15px;
      margin: 5px;
      padding: 2px 5px;
      font-size: .9em;
      font-weight: 200;
    }
  }
}

.search-view-result {
  .result {
    display: flex;
    align-items: center;
    padding: 10px 20px;

    img {
      height: 75px;
      border-radius: 50%;
    }

    a {
      text-decoration: none;

    }

    dl {
      margin-left: 10px;
    }

    dt {
      font-weight: 400;
      font-size: 1.3em;
    }

    dd {
      font-weight: 200;
      color: $fontColor;
    }
  }

  p {
    margin-bottom: 20px;
  }
}

.search-view-result-ul {
  width: 100%;

  li {
    padding: 5px 10px;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  dt {
    font-weight: 400;
    font-size: 1.2em;

  }

  dd {
    font-size: .8em;
    font-weight: 200;
    color: $fontColor;
  }
}